* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #222;
}

.app-card {
  width: 90%;
  max-width: 470px;
  background: rgb(196, 67, 77);
  background: linear-gradient(
    90deg,
    rgba(196, 67, 77, 1) 0%,
    rgba(91, 91, 140, 1) 52%,
    rgba(11, 196, 229, 1) 100%
  );
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-area input {
  border: none;
  height: 60px;
  padding: 10px 25px;
  border-radius: 30px;
  flex: 1;
  margin-right: 10px;
  font-size: 18px;
  transition: transform 0.2s;
}

.search-area button {
  border: none;
  background-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s;
}

.search-area button:hover {
  transform: scale(1.1);
}
.search-area input:hover {
  transform: scale(1.05);
}

.search-area img {
  height: 30px;
  text-align: center;
}

.weather {
  color: white;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}
